/* Colores:
#012030 Azul marino
#13678A Azul mas claro
#45C4B0 Verde azulado
*/







body {
    background-image: url('https://wallpapers.com/images/hd/glowing-blue-chip-hd-computer-yq6y883ilofzggjz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    color: rgb(225, 132, 19);
    margin: 0;
    position: relative;
}

