/* Colores:
#012030 Azul marino
#13678A Azul mas claro
#45C4B0 Verde azulado
*/


body {
    background-image: url('../img/NOGOFAT_012.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    height: 1000px;
    width: 100%;
    color: #fff;
}

.flexboxAlvaro{
    display: flex;
    width: 99%;
    height: 100%;
    margin: auto;
    justify-content: center;
}
.calendario{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    background-color: beige;
    table{
        width: 100%;
        height: 100%;
        border: 1px black solid;
    }
}

.calendario tr{
    text-align: center;
    td{
        border: 1px black solid;
    }
    td:hover{
        background-color: pink;
    }
}

#mes{
    background-color: pink;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.calendario button{
    all: unset; /* Elimina todos los estilos por defecto */ /*Esto si es del gpt que no me salia para quitar toda la mierda al boton*/
    display: inline-block; /* Mantiene el botón visible */
    cursor: pointer; /* Mantiene el puntero de clic */
    width: 100%;
    height: 100%;
}
#depende{
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}
.logo {
    font-size: 40px;
    
    color: #ff66cc;
    margin-left: 30px;
}
nav ul {
    list-style: none;
    
    display: flex;
    margin: 20px;
    padding: 0;
}
nav ul li {
    margin-left: 40px;
    
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;

}
.login {
    background: #ff66cc;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000 !important;
}
.pagina1 {
    position: relative;
    height: 86vh;
    background: url('../img/NOGOFAT_012.png');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 0, 37, 0.6);
}
.contenido {
    position: relative;
    z-index: 1;
}
.frasemotivadora {
    font-size: 30px;
    border: 4px solid white;
    padding: 30px;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}